<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352188565720-vitc8v21d9k24plr9lqnosk1f9kq9tnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352188565720-vitc8v21d9k24plr9lqnosk1f9kq9tnk</string>
	<key>API_KEY</key>
	<string>AIzaSyC3k7V49-YmvRsxtcvu59KVnoJpbIHXefc</string>
	<key>GCM_SENDER_ID</key>
	<string>352188565720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiktok.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tictok-iop</string>
	<key>STORAGE_BUCKET</key>
	<string>tictok-iop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352188565720:ios:548a4348db63ab400a2fad</string>
</dict>
</plist>